html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: system-ui;
  block-size: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    hsl(243, 100%, 7%) 0%,
    hsl(240, 86%, 25%) 5%,
    hsl(190, 100%, 50%) 100%
  );
  color: hsl(0, 0%, 100%);
}

.container {
  text-align: center;
  max-inline-size: 70vw;
  
}

.container > * + * {
  margin-top: 2rem;
}

.main-content > * + * {
  margin-top: 3rem;
}

.main-content__quote {
  font-size: 2rem;
}

.main-content__person {
  font-size: 1.8rem;
  font-weight: bold;
  font-style: italic;
}

.main-content__btn {
  padding: 1.6rem 2rem;
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: bold;
  border: none;
  background-image: linear-gradient(
    90deg,
    hsl(243, 100%, 7%) 0%,
    hsl(240, 86%, 25%) 5%,
    hsl(190, 100%, 50%) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  cursor: pointer;
  border-radius: 0.2rem;
  overflow: hidden;
}

.main-content__btn::after {
  position: absolute;
  content: '';
  inset: 0;
  background-color: #fff;
  z-index: -1;
}
